<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="flat-show-card">
        <h1><%=  @flat.name %></h1>
        <p><%=  @flat.address %></p>
      </div>
    </div>
    <div class="col-8">
      <div class="flat-show-card">
        <h3>A bit more about this flat...</h3>
        <p><%=  @flat.description %></p>
      </div>
    </div>
  </div>
</div>